@import "frappe.css";

* {
  /* reference the color by using @color-name */
  color: @text;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base, 0.9);
  background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#disk,
#network,
#tray,
#pulseaudio {
  padding: 0 10px;
}

#workspaces button.current_output.focused label {
  color: @blue;
}

#network {
  color: @blue;
}

#temperature {
  color: @maroon;
}

#cpu {
  color: @sky;
}

#battery {
  color: @green;
}

#clock {
  color: @text;
}


.modules-right, .modules-center, .modules-left {
  background-color: @crust;
  border-radius: 16px;
  margin: 5px;
}

.modules-center {
  padding:10;
}

client.border{
  color: @text;
}
