@import "colors.css";

label {
    all: unset;
}
button {
    all: unset;
}

* {
    color: white;
    padding: 0;
    margin: 0;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
}

#clock,
#custom-power,
#battery,
#cpu,
#pulseaudio,
#idle_inhibitor,
#bluetooth,
#network {
    padding-right: 10px;
}

#custom-power {
    padding-right: 20px;
    padding-left: 10px;
}

#network {
    padding-left: 20px;
}


#workspaces button:hover {
  border-color: transparent;
}

#workspaces button {
  border: none;
  padding: 10px;
}

#workspaces button:hover label {
    color: @color3;
}

#workspaces button.active label {
    color: @color3;
}

.modules-right, .modules-center, .modules-left {
    border-radius: 10px;
    background-color: @background;
    padding: 0px 15px;
}

.modules-right {
    padding: 0px;
}

.modules-center {
    padding: 10px;
}

