label {
    all: unset;
}
button {
    all: unset;
}

* {
    color: white;
    padding: 0;
    margin: 0;
    min-height: 0;
}

window#waybar {
    background-color: #1e1e1e;
}

#custom-power,
#custom-tailscale,
#battery,
#cpu,
#tray,
#pulseaudio,
#idle_inhibitor,
#bluetooth {
    padding-right: 10px;
    padding-left: 10px;
}

#custom-power {
    padding-right: 20px;
}

#network {
    padding-left: 20px;
}


#workspaces button:hover {
    border-color: transparent;
}

#workspaces button {
    border: none;
    padding: 10px;
}

.modules-right, .modules-center, .modules-left {
    border-radius: 10px;
    padding: 0px 15px;
}

.modules-right {
    padding: 0px;
}

.modules-center {
    padding: 10px;
}

