// Window Animations
.flyin-top {
    animation-name: flyin-top;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);
    animation-iteration-count: 1;
}

@keyframes flyin-top {
    from {
        margin-top: -1.5rem;
    }

    to {
        margin-top: 0rem;
    }
}

