@use 'animations';
@use 'colors';

.top_bar {
    margin: 10px { bottom: 0px }

    // Most widgets use the same base properties
    .launcher, .datetime, .info, .workspaces, .bar_powermenu {
        border-radius: 10px;
        background-color: colors.$background;
        .widget {
            padding-left: 14px;
            padding-right: 14px;
        }
        transition: background-color 0.3s linear;
    }
    .launcher:hover, .datetime:hover, .info:hover, .bar_powermenu:hover {
        background-color: colors.$color1;
    }

    // Workspace
    .workspaces {
        .active label {
            color: colors.$color1;
        }
        .inactive:hover label{
            color: colors.$color1;
        }
    }

    // Launcher
    .launcher .image {
        background: {
            image: url("/home/any/.config/eww/images/launcher.png");
            size: 16px 16px;
            repeat: no-repeat;
            position: center;
        }
    }
}

tooltip label {
    background-color: colors.$background;
    padding: 15px 15px;
    border-radius: 20px;
    border: 1px solid colors.$color1;
}

