@use 'animations';
@use 'colors';

.w_bar {
    margin: 10px { bottom: 0px }

    .launcher {
        border-radius: 10px;
        background-color: colors.$background;
        .widget {
            padding-left: 14px;
            padding-right: 14px;
        }
        transition: background-color 0.3s linear;
    }
    .launcher:hover {
        background-color: colors.$color1;
    }
    .datetime {
        border-radius: 10px;
        background-color: colors.$background;
        .widget {
            padding-left: 14px;
            padding-right: 14px;
        }
        transition: background-color 0.3s linear;
    }
    .datetime:hover {
        background-color: colors.$color1;
    }
    .info {
        border-radius: 10px;
        background-color: colors.$background;
        .widget {
            padding-left: 14px;
            padding-right: 14px;
        }
        transition: background-color 0.3s linear;
    }
    .info:hover {
        background-color: colors.$color1;
    }
    .workspaces {
        .active label {
            color: colors.$color1;
        }
        border-radius: 10px;
        background-color: colors.$background;

        .widget {
            padding-left: 14px;
            padding-right: 14px;
        }
        transition: background-color 0.3s linear;
        .inactive:hover label{
            color: colors.$color1;
        }
    }

    .launcher .image {
        background: {
            image: url("/home/any/.config/eww/images/launcher.png");
            size: 16px 16px;
            repeat: no-repeat;
            position: center;
        }
    }
}

.w_datetime {
    .time {
        background-color: colors.$background;
        margin: 25px;
        border: 2px solid colors.$color1;
        border-radius: 20px;

        .clock {
            font-size: 2em;
            font-weight: bolder;
            padding: 5px;
        }

    }
    calendar {
        padding: 10px;
        color: colors.$text;
        font-weight: bold;

        &:hover {
            color: white;
        }

        &:selected {
            color: white;
            font-weight: bolder;
        }

        &:indeterminate {
            color: #888888;
        }
    }
}


