$background: #1E1E2E;
$background2: #A7C7E7;
$color1: #3E3E42;
$color4: #3E3E42;
$primary: #3E3E42;
$secondary: #5F5F5F;
$accent: #007ACC;
$good: #2ECC71;
$bad: #DF0030;
$text: #B2B2B2;
$bluetooth: #007BFF;
$warning: #F39C12;

